<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
        <p><%= @user.sex %></p>
      </div>
      <div class="card-body">
        <img src=<%= @user.image %> width="100" height="100" class="profile-image">
        <%= link_to '編集する', edit_user_path, class: "btn btn-primary mt-2" %>
        <%= link_to '画像を送信する', new_inquiry_path(@user), class: "btn btn-primary mt-2" %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">Microposts</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followings</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followers</a></li>
    </ul>
  </div>
</div>